*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #000000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: #2e2e2e;
  overflow-x: hidden;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  padding: 4rem 0;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

body,
button {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
  line-height: 2.6rem;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 0 2rem;
}

.dpnone {
  display: none;
}

.overf-hidden {
  overflow: hidden;
}

.black-bars-color {
  color: black;
}

.nav-activeblock {
  background-color: #000000;
  color: #fff;
}

.burger-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 3em;
  border: 1px solid transparent;
  z-index: 100;
  cursor: pointer;
}
.burger-menu__button {
  color: #fff;
  border: none;
  background: none;
}
.burger-menu__button i {
  cursor: pointer;
  font-size: 4rem;
}

.nav-mobile {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.nav-mobile--active {
  transform: translateY(0);
}
.nav-mobile__item {
  position: relative;
  display: block;
  color: #000000;
  padding: 1em 2em;
  font-size: 3rem;
}

.nav-desktop {
  display: none;
  font-size: 1.6rem;
  background-color: #fff;
  top: 0;
  position: fixed;
  width: 100%;
  height: 9rem;
  box-shadow: 0px -8px 17px 8px #000000;
  z-index: 100;
}
.nav-desktop__logo {
  padding: 3rem 0;
  position: absolute;
  font-size: 3rem;
}
.nav-desktop__logo span {
  padding-left: 1rem;
}
.nav-desktop__list {
  position: absolute;
  display: flex;
  right: 0;
}
.nav-desktop__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.4s;
  height: 9rem;
}
.nav-desktop__list-item a {
  padding: 3rem;
}
.nav-desktop__list-item:hover {
  background-color: #000000;
  color: #fff;
}

.header .wrapper {
  display: flex;
  justify-content: center;
}
.header__img {
  position: relative;
  min-height: 400px;
  background-image: url("/dist/img/jungle-small.jpg");
  background-position: 20% 0;
  background-size: cover;
  z-index: 0;
}
.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  z-index: 10;
}
.header__text {
  position: absolute;
  font-size: 1.6rem;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
.header__text h1 {
  font-weight: 600;
}

.aboutus {
  background-color: #fff;
}
.aboutus .wrapper {
  display: flex;
  flex-direction: column;
}
.aboutus__img {
  width: 80%;
}
.aboutus__text h3 {
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.aboutus__text p {
  text-align: justify;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner__img {
  height: 25rem;
  background-image: url("/dist/img/girl-small.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  position: relative;
}
.banner__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  z-index: 10;
}
.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 4rem;
  color: #fff;
  border: 1px solid #fff;
  z-index: 20;
}

.offer {
  background-color: #fff;
}
.offer .fa-check {
  color: #00ffaa;
}
.offer .fa-minus {
  color: #aca5a5;
}
.offer__text {
  font-size: 2rem;
}
.offer__cta-btn {
  position: relative;
  background-color: #1755e7;
  border-radius: 15px;
  padding: 1rem 7rem;
  font-size: 2rem;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.offer__cards {
  margin: 4rem 0;
}
.offer__card {
  display: inline-block;
  position: relative;
  width: 220px;
  height: 100%;
  margin: 2rem;
  box-shadow: 0px 3px 10px -3px #000000;
  border-radius: 10px;
}
.offer__card h3 {
  margin: 2rem;
}
.offer__card ul {
  text-align: center;
  display: inline-block;
}
.offer__card-price {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.offer__card-btn {
  font-size: 1.6rem;
  padding: 1rem 5.2rem;
  margin: 3rem 0;
  background-color: #fff;
  box-shadow: 0px 3px 10px -3px #000000;
  border-radius: 8px;
}
.offer__card-li-negative {
  color: rgb(172, 165, 165);
}

.footer {
  background-color: #eee;
}
.footer .container-l {
  font-size: 2.6rem;
  padding: 0.8em 0;
}
.footer .container-l i {
  padding: 0 2rem;
}
.footer .container-r {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.8em;
  text-align: left;
}
.footer .container-r .footer__card li {
  font-size: 1.2rem;
  padding: 1rem 0;
}
.footer .container-r .footer__card li:first-child {
  top: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.data {
  display: block;
  text-align: center;
  background-color: #eee;
  border-top: 1px solid rgb(172, 165, 165);
  font-size: 1.6rem;
  padding: 0.8rem;
}

.contact-section {
  background-color: #eee;
}
.contact-section .contact {
  background-color: #eee;
}
.contact-section .contact__header p {
  font-size: 2rem;
}
.contact-section .contact__box {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 3rem auto;
}
.contact-section .contact__box label {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact-section .contact__box input,
.contact-section .contact__box textarea {
  padding: 1.5rem;
  font-size: 2rem;
  font-family: inherit;
  border: 2px solid #aca5a5;
  border-radius: 10px;
}
.contact-section .contact__box textarea {
  min-height: 150px;
  resize: vertical;
}

.maps-section {
  background-color: #fff;
}
.maps-section .googlemaps {
  background-color: #fff;
}
.maps-section .googlemaps__map {
  padding: 2rem 0;
}
.maps-section .googlemaps__text ul {
  line-height: 2.6rem;
  font-size: 1.6rem;
}

@media (min-width: 576px) {
  h2 {
    font-size: 5.6rem;
  }
  .wrapper {
    padding: 0 3rem;
  }
  .header__text {
    font-size: 2.6rem;
  }
  .aboutus h3 {
    font-size: 3rem;
  }
  .banner__text {
    font-size: 2.6em;
  }
  .offer__card {
    width: 260px;
  }
  .footer .container-l {
    font-size: 3.6em;
  }
  .footer .container-r {
    padding-bottom: 1.8rem;
  }
  .footer .container-r .footer__card li {
    font-size: 1.6rem;
  }
  .footer .container-r .footer__card li:first-child {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  h2 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .aboutus__text h3 {
    font-size: 4rem;
  }
  .aboutus__text p {
    padding: 0 4rem;
  }
}
@media (min-width: 1200px) {
  .nav-mobile,
  .burger-menu {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .header {
    margin-top: 9rem;
  }
  .header .wrapper {
    justify-content: left;
    text-align: left;
  }
  .header__img {
    background-image: url("/dist/img/jungle-big.jpg");
  }
}
@media (min-width: 1200px) {
  .aboutus__content {
    display: flex;
    flex-direction: row;
  }
  .aboutus__img {
    width: 90%;
  }
  .aboutus__img-box {
    width: 50%;
  }
  .aboutus__text {
    width: 50%;
  }
  .aboutus__text p {
    display: block;
    text-align: justify;
    padding: 0;
  }
  .aboutus__text h3 {
    text-align: left;
    display: block;
    margin: 0 0 3rem 0;
  }
  .banner__img {
    background-image: url("/dist/img/girl-big.jpg");
    height: 30rem;
  }
  .banner__text {
    font-size: 4em;
    font-weight: 600;
  }
  .offer__card {
    transition: transform 0.5s;
  }
  .offer__card:hover {
    transform: scale(1.1);
  }
  .offer__card-btn {
    transition: background-color 0.5s;
  }
  .offer__card-btn:hover {
    background-color: #00ffaa;
  }
  .footer .wrapper {
    display: flex;
    flex-direction: row;
    padding: 3.6rem 0;
  }
  .footer .container-l {
    left: 0;
    font-size: 5rem;
    width: 50%;
    padding: 0;
  }
  .footer .container-l a {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .footer .container-r {
    width: 50%;
    padding: 0;
  }
  .footer .container-r .footer__card {
    padding-right: 3em;
    font-size: 1.6rem;
  }
  .footer .container-r .footer__card li:first-child {
    padding: 2rem 0;
    font-size: 2.6rem;
    font-weight: 600;
    width: 145px;
  }
  .footer .container-r .footer__card:first-child {
    padding-right: 0;
  }
  .googlemaps__mapframe {
    height: 48rem;
  }
}/*# sourceMappingURL=main.css.map */