$cta-button-color: #00ffaa;
$cta-button-color-hover: #1ce4a1;
$pure-white: #fff;
$vanta-black: #000000;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$grey-color: #aca5a5;
$li-negative: rgb(172, 165, 165);
$shadow-color: rgba(0, 0, 0, 0.6);
$error-color: #ff6347;
