@use './colors' as *;

@media (min-width: 576px) {
	h2 {
		font-size: 5.6rem;
	}
	.wrapper {
		padding: 0 8rem;
	}
	.header {
		&__text {
			font-size: 2.6rem;
		}
	}
	.aboutus {
		&__text {
			p {
				margin-bottom: 4rem;
			}
		}
		&__img {
			max-width: 744px;
		}
	}
	.banner {
		&__text {
			font-size: 2.6em;
		}
	}
	.offer {
		&__card {
			padding: 0 4.4rem;
		}
	}
	.contact {
		&__content {
			&-form {
				padding-bottom: 0;
			}
		}
		&__map {
			height: 450px;
		}
		&__info {
			p {
				font-size: 2rem;
			}
		}
	}
	.footer {
		.container-l {
			font-size: 3.6em;
		}
		.container-r {
			padding-bottom: 1.8rem;
			.footer__card {
				li {
					font-size: 1.6rem;
					&:first-child {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
	.more-offer {
		&__img-box {
			height: 344px;
		}
	}
}

@media (min-width: 992px) {
	.aboutus {
		&__text {
			h3 {
				font-size: 3rem;
			}
			p {
				padding: 0 6rem;
				font-size: 2rem;
			}
		}
	}
	.contact {
		.wrapper {
			display: flex;
			flex-direction: row;
		}
		&__content {
			margin-bottom: 0;
			margin-right: 3rem;
			width: 50%;
		}
		&__map {
			width: 50%;
			height: initial;
		}
	}
	.more-offer {
		:nth-child(even) {
			flex-direction: row-reverse;
		}
		&__container {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			margin-bottom: 7rem;
		}
		&__img-box {
			width: 50%;
			&.img-first {
				background-image: url(../../dist/img/bike-big.jpg);
			}
			&.img-second {
				background-image: url(../../dist/img/house-big.jpg);
			}
			&.img-third {
				background-image: url(../../dist/img/boat-big.jpg);
			}
		}
		&__text {
			padding: 0 2rem;
			&.text-even {
				margin-left: 7rem;
			}
			&.text-odd {
				margin-right: 7rem;
			}
			width: 50%;
		}
		&__info {
			&-text {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	h2 {
		font-size: 4.6rem;
	}
	.wrapper {
		padding: 0 2rem;
	}
	.nav-mobile,
	.burger-menu {
		display: none;
	}
	.nav-desktop {
		display: block;
	}

	.header {
		.wrapper {
			h1,
			p {
				text-align: left;
			}
		}
		&__img {
			height: 610px;
			background-image: url('../../dist/img/jungle-big.jpg');
		}
	}
	.aboutus {
		&__content {
			display: flex;
			flex-direction: row;
			margin-bottom: 7rem;
		}
		&__img {
			margin-right: 6rem;
			width: 550px;
			height: 366px;
		}

		&__text {
			h3 {
				display: block;
				margin: 0 0 3rem 0;
			}
			p {
				display: block;
				padding: 0;
				margin: 0;
				text-align: justify;
				font-size: 2rem;
			}
		}
	}
	.banner {
		&__img {
			height: 40rem;
			background-image: url('../../dist/img/girl-big.jpg');
		}
		&__text {
			font-size: 4em;
		}
	}
	.offer {
		&__card {
			transition: transform 0.5s;
			&:hover {
				transform: scale(1.1);
			}
			&-btn {
				transition: background-color 0.5s;
			}
		}
	}
	.contact {
		.wrapper {
			flex-direction: row;
			padding: 0 3rem;
			margin: 0;
			width: 100%;
			justify-content: space-between;
		}
		&__info {
			p {
				font-size: 2.6rem;
			}
		}
		&__content {
			margin-right: 5rem;
			width: 50%;
			margin-bottom: 0;
			background-color: $pure-white;
		}
		&__map {
			width: 50%;
		}
	}
	.footer {
		.wrapper {
			display: flex;
			flex-direction: row;
			padding: 3.6rem 0;
		}
		.container-l {
			left: 0;
			width: 50%;
			padding: 0;
			font-size: 5rem;
			a {
				display: block;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.container-r {
			padding: 0;
			width: 50%;
			.footer__card {
				padding-right: 3em;
				font-size: 1.6rem;
				li:first-child {
					padding: 2rem 0;
					width: 145px;
					font-size: 2.6rem;
					font-weight: 600;
				}
				&:first-child {
					padding-right: 0;
				}
			}
		}
	}
	.more-offer {
		h3 {
			margin: 4rem 0;
		}
	}
}
