@use './colors' as *;

@media (min-width: 576px) {
	h2 {
		font-size: 5.6rem;
	}
	.wrapper {
		padding: 0 3rem;
	}
	.header {
		&__text {
			font-size: 2.6rem;
		}
	}
	.aboutus {
		h3 {
			font-size: 3rem;
		}
	}

	.banner {
		&__text {
			font-size: 2.6em;
		}
	}

	.offer {
		&__card {
			width: 260px;
		}
	}

	.footer {
		.container-l {
			font-size: 3.6em;
		}
		.container-r {
			padding-bottom: 1.8rem;
			.footer__card {
				li {
					font-size: 1.6rem;
				}
				li:first-child {
					font-size: 1.8rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	h2 {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.aboutus {
		&__text {
			h3 {
				font-size: 4rem;
			}
			p {
				padding: 0 4rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav-mobile,
	.burger-menu {
		display: none;
	}
	.nav-desktop {
		display: block;
	}
	.header {
		margin-top: 9rem;
	}
	.header {
		.wrapper {
			justify-content: left;
			text-align: left;
		}
		&__img {
			background-image: url('/dist/img/jungle-big.jpg');
		}
	}
}

@media (min-width: 1200px) {
	.aboutus {
		&__content {
			display: flex;
			flex-direction: row;
		}
		&__img {
			width: 90%;
		}
		&__img-box {
			width: 50%;
		}
		&__text {
			width: 50%;
			p {
				display: block;
				text-align: justify;
				padding: 0;
			}
			h3 {
				text-align: left;
				display: block;
				margin: 0 0 3rem 0;
			}
		}
	}
	.banner {
		&__img {
			background-image: url('/dist/img/girl-big.jpg');
			height: 30rem;
		}
		&__text {
			font-size: 4em;
			font-weight: 600;
		}
	}
	.offer {
		&__card {
			transition: transform 0.5s;
			&:hover {
				transform: scale(1.1);
			}
			&-btn {
				transition: background-color 0.5s;
				&:hover {
					background-color: $green-color;
				}
			}
		}
	}

	.footer {
		.wrapper {
			display: flex;
			flex-direction: row;
			padding: 3.6rem 0;
		}
		.container-l {
			left: 0;
			font-size: 5rem;
			width: 50%;
			padding: 0;
			// position: relative;
			a {
				display: block;
				position: relative;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.container-r {
			width: 50%;
			padding: 0;
			.footer__card {
				padding-right: 3em;
				font-size: 1.6rem;

				li:first-child {
					padding: 2rem 0;
					font-size: 2.6rem;
					font-weight: 600;
					width: 145px;
				}
			}
			.footer__card:first-child {
				padding-right: 0;
			}
		}
	}
}
