@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}

html,
body {
	background-color: $pure-white;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-color: $dark;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
}
p {
	font-weight: 300;
	font-size: 2rem;
	line-height: 145%;
}
h1 {
	font-weight: 600;
}
h2 {
	padding: 5rem 0;
	font-size: 4.6rem;
	font-weight: 300;
	text-transform: uppercase;
}
h3 {
	font-size: 3rem;
	font-weight: 400;
}

body,
button {
	font-family: 'Raleway', sans-serif;
}
button,
.form-btn {
	color: $vanta-black;
	border: 0;
	cursor: pointer;
}
ul {
	list-style: none;
	line-height: 2.6rem;
	font-size: 1.6rem;
}
a {
	color: $vanta-black;
	text-decoration: none;
}
input {
	color: $vanta-black;
}

//nav mobile
.fa-x {
	color: #000000;
}

.burger {
	&-menu,
	&-close {
		position: fixed;
		top: 0;
		right: 0;
		padding: 3rem;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 100;
		&__button {
			color: $pure-white;
			border: none;
			background: none;
			i {
				font-size: 4rem;
			}
		}
	}
}

.nav-mobile {
	position: fixed;
	top: 0;
	display: flex;
	height: 100svh;
	width: 100%;
	background-color: $pure-white;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
	transition: transform 0.5s ease-out;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		padding: 3rem 6rem;
		color: $vanta-black;
		font-size: 3rem;
	}
}

//nav desktop
.nav-desktop {
	position: sticky;
	top: 0;
	display: none;
	height: 9rem;
	background-color: $pure-white;
	box-shadow: 0px -8px 17px 8px $vanta-black;
	z-index: 100;
	.wrapper {
		position: relative;
	}
	&__logo {
		position: absolute;
		padding: 3rem 0;
		font-size: 3rem;
		span {
			padding-left: 1rem;
		}
	}
	&__list {
		position: absolute;
		right: 3rem;
		display: flex;
		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 10rem;
			height: 9rem;
			transition: background-color 0.4s;
			cursor: pointer;
			&:hover {
				color: $pure-white;
				background-color: $vanta-black;
			}
			a {
				padding: 3rem;
			}
		}
	}
}

// header
.header {
	&__img {
		position: relative;
		min-height: 56rem;
		background-image: url('../../dist/img/jungle-small.jpg');
		background-position: 20% 50%;
		background-size: cover;
		z-index: 0;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $shadow-color;
		background-position: center;
		background-size: cover;
		z-index: 10;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $pure-white;
		font-size: 1.6rem;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
}

//about us
.aboutus {
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	&__img {
		width: 100%;
	}
	&__text {
		h3 {
			margin: 5rem 0;
			font-weight: 600;
		}
		p {
			margin-bottom: 4rem;
			text-align: justify;
		}
	}
}

// banner
.banner {
	&__img {
		position: relative;
		height: 25rem;
		background-image: url('../../dist/img/girl-small.jpg');
		background-position: center;
		background-size: 135%;
		z-index: 0;
	}
	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $shadow-color;
		background-position: center;
		background-size: cover;
		z-index: 10;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 2rem 4rem;
		color: $pure-white;
		font-size: 2rem;
		border: 1px solid $pure-white;
		transform: translate(-50%, -50%);
		z-index: 20;
	}
}

// offer
.offer {
	.wrapper {
		display: flex;
		flex-direction: column;
	}

	&__text {
		font-size: 3rem;
	}
	&__cards {
		margin: 2rem 0;
	}
	&__card {
		display: inline-block;
		margin: 2rem;
		padding: 0 2.4rem;
		border-radius: 10px;
		box-shadow: 0px 3px 10px -3px $vanta-black;
		.fa-check {
			color: $green-color;
		}
		.fa-minus {
			color: $li-negative;
		}
		h3 {
			margin: 2rem;
		}
		&-price {
			margin-bottom: 2rem;
			font-size: 4rem;
			font-weight: 600;
		}
		&-btn {
			padding: 1rem 5.2rem;
			margin: 3rem 0;
			background-color: $light-white;
			border-radius: 8px;
			box-shadow: 0px 3px 10px -3px $vanta-black;
			font-size: 1.6rem;
			text-transform: uppercase;
			transition: background-color 0.4s;
			&:hover {
				background-color: $cta-button-color;
			}
		}
	}
}

// footer
.footer {
	background-color: $light-white;
	.container-l {
		padding: 2rem 0;
		font-size: 2.6rem;
		i {
			padding-right: 2rem;
		}
	}
	.container-r {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 1rem;
		text-align: left;
		.footer__card {
			li {
				padding: 1rem 0;
				font-size: 1.2rem;
				&:first-child {
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
		}
	}
}

//data footer
.data {
	display: block;
	text-align: center;
	padding: 1.4rem 0;
	background-color: $light-white;
	border-top: 1px solid $li-negative;
	font-size: 1.6rem;
}

//contakt
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $pure-white;
	&__info {
		margin: 3rem 0;
		i {
			padding-right: 2rem;
		}
		p {
			margin-top: 2rem;
			font-size: 1.5rem;
		}
	}
	&__map {
		height: 32rem;
		box-shadow: 5px 5px 8px 5px rgba(46, 46, 46, 0.18);
		border-radius: 15px;
		.googlemaps__mapframe {
			border-radius: 15px;
		}
	}
	&__content {
		margin-bottom: 5rem;
		padding: 3rem;
		border-radius: 15px;
		background-color: $pure-white;
		box-shadow: 5px 5px 8px 5px rgba(46, 46, 46, 0.18);
		input,
		textarea,
		select {
			padding: 1.5rem;
			background-color: $light-white;
			border: 1px solid #c5c5c5;
			border-radius: 5px;
			font-size: 1.4rem;
		}
		&-header {
			p {
				padding-top: 1rem;
			}
		}
		&-box {
			display: flex;
			flex-direction: column;
			margin: 3rem auto;
			label {
				margin-bottom: 1rem;
				font-size: 1.4rem;
			}
			textarea {
				min-height: 15rem;
				resize: vertical;
			}
		}
	}
}

//more offers
.more-offer {
	&__container {
		p {
			text-align: justify;
			margin-bottom: 4rem;
		}
		h3 {
			margin: 3rem 0;
			font-weight: 600;
		}
	}
	&__img-box {
		height: 25rem;
		background-position: center;
		background-size: cover;
		&.img-first {
			background-image: url(../../dist/img/bike-small.jpg);
		}
		&.img-second {
			background-image: url(../../dist/img/house-small.jpg);
		}
		&.img-third {
			background-image: url(../../dist/img/boat-small.jpg);
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		margin-top: 3rem;
		&-text {
			font-weight: 400;
			font-size: 1.6rem;
			// line-height: 145%;
			text-align: center;
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
	}
	// &__containers{
	// }
	// &__container {
	// 	&-picture {
	// 		&-first {
	// 			width: 100%;
	// 		}
	// 		&-second {
	// 			width: 100%;
	// 		}
	// 	}
	// 	&-text {
	// 		&-fist {
	// 			width: 100%;
	// 		}
	// 		&-second {
	// 			width: 100%;
	// 		}
	// 	}
	// }
}

//js modifiers
.dpblock {
	display: block;
}
.dpnone {
	display: none;
}

.overf-hidden {
	position: fixed;
}
.black-bars-color {
	color: black;
}
.nav-activeblock {
	color: $pure-white;
	background-color: $vanta-black;
}

//general modifiers
.wrapper {
	margin: 0 auto;
	max-width: 120rem;
	text-align: center;
	padding: 0 2rem;
}
.cta-btn {
	position: absolute;
	// display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem auto;
	padding: 2rem 4rem;
	color: $vanta-black;
	background-color: $cta-button-color;
	border-radius: 15px;
	box-shadow: 5px 5px 8px 5px rgba(46, 46, 46, 0.18);
	font-size: 2rem;
	font-weight: 600;
	transition: background-color 0.4s;
	&:hover {
		background-color: $cta-button-color-hover;
	}
	&-smalltext {
		text-align: center;
		margin-bottom: 4rem;
		font-size: 1rem;
	}
}

.btn-animation {
	overflow: hidden;
	position: relative;
	&::after,
	&::before {
		display: block;
		position: absolute;
		content: '';
		transition: 0.4s;
		z-index: 1123;
		overflow: hidden;
	}
	&::before {
		background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
		top: -10px;
		height: 130%;
		width: 1rem;
		left: -40px;
		content: '';
		transform: rotate(20deg);
	}
	&:hover::before {
		left: 120%;
	}
}

// form modifiers

.msg-status {
	display: none;
	padding: 1.5rem;
	justify-content: center;
	align-items: center;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	font-size: 2rem;
}

.success {
	background-color: $cta-button-color;
	display: block;
}
.error {
	background-color: $error-color;
	display: block;
}
