@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}

html,
body {
	height: 100%;
	background-color: $pure-white;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-color: $dark;
	overflow-x: hidden;
}
p {
	font-weight: 300;
	line-height: 145%;
}
h2 {
	font-size: 4.6rem;
	font-weight: 300;
	padding: 6rem 0;
	text-transform: uppercase;
}
h3 {
	font-size: 3rem;
	font-weight: 400;
}

body,
button {
	font-family: 'Raleway', sans-serif;
}
button {
	cursor: pointer;
	border: 0;
	color: $vanta-black;
}
ul {
	list-style: none;
	line-height: 2.6rem;
	font-size: 1.6rem;
}
a {
	text-decoration: none;
	color: $vanta-black;
}
input {
	color: $vanta-black;
}
//general modifiers
.wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	text-align: center;
	padding: 0 2rem;
}
//js modifiers
.dpnone {
	display: none;
}
.overf-hidden {
	// height: 100%;
	position: fixed;
	
	// top: -700px;
	// overflow: hidden;
}
.black-bars-color {
	color: black;
}
.nav-activeblock {
	background-color: $vanta-black;
	color: $pure-white;
}
//nav

//mobile

.burger-menu {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 3em;
	border: 1px solid transparent;
	z-index: 100;
	cursor: pointer;
	&__button {
		color: $pure-white;
		border: none;
		background: none;

		i {
			cursor: pointer;
			font-size: 4rem;
		}
	}
}

.nav-mobile {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: $pure-white;
	transform: translateX(-100%);
	transition: transform 0.5s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}
	&__item {
		position: relative;
		display: block;
		color: $vanta-black;
		padding: 1em 2em;
		font-size: 3rem;
	}
}
//desktop

.nav-desktop {
	display: none;
	font-size: 1.6rem;
	background-color: $pure-white;
	top: 0;
	position: fixed;
	width: 100%;
	height: 9rem;
	box-shadow: 0px -8px 17px 8px $vanta-black;
	z-index: 100;
	.wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
	}
	&__logo {
		padding: 3rem 0;
		position: absolute;
		font-size: 3rem;
		span {
			padding-left: 1rem;
		}
	}
	&__list {
		position: absolute;
		display: flex;
		right: 0;

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 10rem;
			padding: 0 2rem;
			cursor: pointer;
			transition: background-color 0.4s;
			height: 9rem;
			a {
				padding: 3rem;
			}
			&:hover {
				background-color: $vanta-black;
				color: $pure-white;
			}
		}
	}
}

// header

.header {
	.wrapper {
		display: flex;
		justify-content: center;
	}
	&__img {
		position: relative;
		min-height: 560px;
		background-image: url('../../dist/img/jungle-small.jpg');
		background-position: 20% 50%;
		background-size: cover;
		z-index: 0;
	}
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $shadow-color;
		background-position: center;
		background-size: cover;
		z-index: 10;
	}
	&__text {
		position: absolute;
		font-size: 1.6rem;
		color: $pure-white;
		top: 50%;
		transform: translateY(-50%);
		z-index: 20;
		h1 {
			font-weight: 600;
		}
	}
}

//about us

.aboutus {
	background-color: $pure-white;

	.wrapper {
		display: flex;
		flex-direction: column;
	}

	&__img {
		width: 100%;
	}
	&__text {
		h3 {
			font-weight: 600;
			display: flex;
			justify-content: center;
			font-size: 2.6rem;
			margin: 5rem 0;
		}
		p {
			text-align: justify;
			font-size: 2rem;
			margin-bottom: 4rem;
		}
	}
}

// banner

.banner {
	&__img {
		height: 25rem;
		background-image: url('../../dist/img/girl-small.jpg');
		background-position: center;
		// background-attachment: fixed;
		// background-size: cover;
		background-size: 135%;
		z-index: 0;
		position: relative;
	}
	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $shadow-color;
		background-position: center;
		background-size: cover;
		z-index: 10;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2rem;
		padding: 4rem;
		color: $pure-white;
		border: 1px solid $pure-white;
		z-index: 20;
	}
}

// offer - sprawdzic i usunac important

.offer {
	background-color: $pure-white;
	.fa-check {
		color: $green-color;
	}
	.fa-minus {
		color: $grey-color;
	}
	&__text {
		font-size: 2rem;
	}
	&__cta-btn {
		position: relative;
		background-color: $cta-button-color;
		border-radius: 15px;
		padding: 2rem 4rem;
		font-size: 2.6rem;
		color: $vanta-black;
		display: inline-block;
		text-align: center;
		margin: 2rem 0 2rem 0;
		font-weight: 600;
	}
	&__cards {
		margin: 2rem 0;
		// overflow: hidden;
	}

	&__card {
		display: inline-block;
		position: relative;
		width: 220px;
		height: 100%;
		margin: 2rem;
		box-shadow: 0px 3px 10px -3px $vanta-black;
		border-radius: 10px;
		h3 {
			margin: 2rem;
		}
		ul {
			text-align: center;
			display: inline-block;
		}
		&-price {
			font-size: 4rem;
			font-weight: 600;
			margin-bottom: 2rem;
		}
		&-btn {
			font-size: 1.6rem;
			padding: 1rem 5.2rem;
			margin: 3rem 0;
			background-color: $pure-white;
			box-shadow: 0px 3px 10px -3px $vanta-black;
			border-radius: 8px;
		}
		&-li-negative {
			color: $li-negative;
		}
	}
}

// footer

.footer {
	background-color: $light-white;

	.container-l {
		font-size: 2.6rem;

		padding: 0.8em 0;
		i {
			padding: 0 2rem 0 0;
		}
	}
	.container-r {
		display: flex;
		justify-content: space-evenly;
		padding-bottom: 0.8em;
		text-align: left;
		.footer__card {
			li {
				font-size: 1.2rem;
				padding: 1rem 0;
			}
			li:first-child {
				top: 0;
				font-size: 1.5rem;
				font-weight: 600;
			}
		}
	}
}

.data {
	display: block;
	text-align: center;
	background-color: $light-white;
	border-top: 1px solid $li-negative;
	font-size: 1.6rem;
	padding: 1.4rem;
}

// page contact section

// .contact-section {
// 	background-color: $light-white;
// 	margin-top: 90px;
// 	.contact {
// 		display: flex;
// 		flex-direction: row;
// 		background-color: $light-white;

// 		button,
// 		input,
// 		textarea {
// 			padding: 1.5rem;
// 			font-size: 2rem;
// 			font-family: inherit;
// 			border: 2px solid $grey-color;
// 			border-radius: 10px;
// 		}
// 		&__header {
// 			width: 700px;
// 			p {
// 				font-size: 2rem;
// 			}
// 		}
// 		&__box {
// 			display: flex;
// 			flex-direction: column;
// 			width: 90%;
// 			margin: 3rem auto;
// 			label {
// 				font-size: 2rem;
// 				margin-bottom: 1rem;
// 			}

// 			textarea {
// 				min-height: 150px;
// 				resize: vertical;
// 			}
// 		}
// 		&__form {
// 			padding-bottom: 2rem;
// 			width: 500px;
// 		}
// 	}
// }

// .maps-section {
// 	background-color: $pure-white;
// 	.googlemaps {
// 		background-color: $pure-white;
// 		&__map {
// 			padding: 2rem 0;
// 		}
// 		&__text {
// 			ul {
// 				line-height: 2.6rem;
// 				font-size: 1.6rem;
// 			}
// 		}
// 	}
// }

// druga opcja
// .navtop {
// margin-top: 90px;
// }

.contact-section {
	background-color: $pure-white;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		text-align: center;

		padding-top: 0;
		padding-bottom: 5rem;
	}
	&__info {
		margin-top: 4rem;
		i {
			padding-right: 2rem;
		}
		p {
			font-size: 1.5rem;
			margin-top: 2rem;
		}
	}
	.wrapper {
		display: flex;
		flex-direction: column;
		// flex-direction: row;
	}

	&__map {
		width: 100%;
		height: 300px;
		border-radius: 15px;
		.googlemaps__mapframe {
			border-radius: 15px;
		}
	}
	&__content {
		.btn-form {
			margin: 2rem 0;
		}
		// display: flex;
		// justify-content: center;
		// align-items: center;
		// flex-direction: row;
		// background-color: $light-white;
		// box-shadow: 3px 0px 26px -11px #000;
		border-radius: 15px;
		// width: 50%;
		// background-color: $pure-white;

		button,
		input,
		textarea,
		select {
			padding: 1.5rem;
			font-size: 2rem;
			// margin: 2rem 0;
			// font-family: inherit;
			// border: 2px solid $grey-color;
			border-radius: 5px;
			// border: none;
			background-color: $light-white;
			border: 1px solid #c5c5c5;
		}
		&-header {
			// width: 700px;
			h2 {
				font-size: 3.6rem;
				font-weight: 500;
			}
			p {
				font-size: 2rem;
			}
		}
		&-box {
			display: flex;
			flex-direction: column;
			width: 90%;
			margin: 3rem auto;
			label {
				font-size: 2rem;
				margin-bottom: 1rem;
			}

			textarea {
				min-height: 150px;
				resize: vertical;
			}
		}
		&-form {
			padding-bottom: 2rem;
			// width: 500px;
		}
	}
}

// .maps-section {
// 	background-color: $pure-white;
// 	.googlemaps {
// 		background-color: $pure-white;
// 		&__map {
// 			padding: 2rem 0;
// 		}
// 		&__text {
// 			ul {
// 				line-height: 2.6rem;
// 				font-size: 1.6rem;
// 			}
// 		}
// 	}
// }
